:root{
    --border-color: linear-gradient(
        to right,
        /* tomato 0%, */
        #b19600 0%,
        #ffd700 100%
        );

        --card-color: black; 
}

body {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #ffff;
    /* background: rgb(239,184,16);
    background: linear-gradient(147deg, rgba(239,184,16,4) 0%, rgba(84,64,2,1) 41%, rgba(0,0,0,1) 75%); */
    background: rgb(102,78,2);
    background: linear-gradient(153deg, rgba(102,78,2,1) 0%, rgba(0,0,0,1) 75%);
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 100vh;
}

.contenedor-1200 {
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    margin: 20px auto;
}
